{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">  <!-- csrf_token is for security -->
            {% csrf_token %}         
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    블로그 포스트
                </legend>
                {{ form|crispy }}    <!-- Crispy filter -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    포스트
                </button>
            </div>
        </form>
    </div>
{% endblock content %}